.text_left {
    margin: 0px 10px 4px 10px;
    display: inline-block;
}
.text_right {
    width: 50px;
    float: right;
    margin: 0px 10px 4px 10px;
    // display: inline-block;
}
.header {
    font-size: 14px;
    width: 100%;
    text-align: center;
    background-color: #eee;
}